@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick-theme"; 
@import "slick";

//自サイト用の専用配色
$my-color1: #FFAB0B;
$my-color2: #E64B10;
$my-color3: #6E4929;


/*================================================
 *  一般・共通設定
 ================================================*/

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  padding: 0px 0px 0px 0px;
  color: white;
  overflow-x: hidden;   //横スクロール禁止
  background: $my-color1 image-url("bg.png") fixed  0 0;
}

#contents {
  width:100%;
  margin:0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  color: black;                 // 字色
  text-align: center;             // 中央寄せ
  line-height: 1.5;               // 行間
  margin-bottom: 30px;            // マージン
}

h1 {
  font-size: calc(250% + 0.5vw);  // 文字サイズ（レスポンシブ）
  font-weight: bold;               // 字の太さ
  letter-spacing: 1.5px;          // 字間隔
}

h2 {
  font-size: calc(150% + 0.5vw);   // 文字サイズ（レスポンシブ）
  font-weight: bold;               // 字の太さ
  letter-spacing: 1px;             // 字間隔
}

p {
  color: black;                  // 字色
  font-size: calc(85% + 0.5vw);    // 文字サイズ（レスポンシブ）
  line-height: 2.0;                // 行間
}


/*================================================
 *  スティッキーヘッダー
 ================================================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transition: .5s ease-in-out;
}

/* スクロール時にヘッダーの縦サイズを縮める */
.header-animation {
  height: 8%;
}

/* ロゴ */
.logo {
  position: absolute;     // 絶対位置
  bottom: -15%;           // 下に固定
  left: 10%;              // 左に固定
  z-index: 999;
  width: 30%;
  height: 90%;
  transition: .5s ease-in-out;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

/* スクロール時にロゴを左へ移動 */
.logo-animation {
  bottom: -12%;
  left: 7%;
}

/* ヘッダーナビゲーション */
#nav-header {
  nav {
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 2000;
    font-size: calc(80% + 0.5vw);
    width: 93vw;
    height: 36px;
    transition: .5s ease-in-out;

    ul {
      list-style: none;
      padding: .2em 2em;
      float: right;
      li {
        display: inline-block;
        margin: 0;
        padding: .2em .7em;
      }
    }

    a {
      width: 100%;
      height: 100%;
      color: black;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1px;
      transition: .25s ease-in-out;
      &:hover {
        color: $my-color3;
      }
    }

  }
}

/* ヘッダー背景 */
.nav-bg {
  content: '';
  position: absolute;
  display: block;
  top: -120%;
  width: 100%;
  height: 120%;
  z-index: -1;
  background: $my-color2;
  transition: .4s ease-in-out;
}

/* ヘッダー背景の非表示 */
.bg-hidden {
  top: -120%;
  opacity: 0;
}

/* ヘッダー背景の表示 */
.bg-visible {
  top: 0;
  opacity: 1;

}

/*================================================
 *  汎用クラス
 ================================================*/

 /* 写真中央寄せ */
 .imgC {
  clear:both;
  overflow:hidden;
  margin-bottom:50px;
  text-align:center;
  img {
    border-radius:5px;
    margin-bottom:0.5em;
  }
}

/* 写真左寄せ */
.imgL {
  clear:both;
  overflow:hidden;
  margin-bottom:50px;
  img {
    float:left;
    margin:0 2em 2em 0;
    border-radius:5px;
  }
}

/* 写真右寄せ */
.imgR {
  // border: solid 1px green;
  // clear:both;               // 画像の反対に回り込み
  overflow:hidden;
  margin-bottom:50px;
  // display: flex;
  justify-content: center;
  align-items: center;
  img {
    // border: solid 1px green;
    width: 450px;
    height: 300px;
    // float: right;
    margin: 0 auto;
    border-radius:5px;
  }
}
  .imgtopB {
    text-align: center;
    img {
      width: 50%;
      height: 90%;
      border-radius:5px;
    }
  }

/* 通常の領域 */
.normal-area {
  width:100%;
  padding: 10px;
}

/* 背景画像を表示させない領域 */
.non-background-area {
  width:100%;
  padding: 10px;
  background: $my-color2
}

/* 通常のブロック */
.normal-block {
  margin: 50px;
  padding: 20px;
}

/* 背景が白いブロック */
.white-block {
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

/*================================================
 *  フッター
 ================================================*/

 footer {
  clear:both;
  width:100%;
  padding: 20px 10px 10px 10px;
  text-align:center;
  background: $my-color2;
  p {
    color: white;
    font-size: calc(50% + 0.5vw);
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: .2em 2em;
    li {
      display: inline-block;
      padding: .2em .7em;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

/*================================================
 *  グリッド系クラス
 ================================================*/


/* グリッドコンテナ */
.grid-container {
  // border: solid 1px green;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

/* グリッドコンテンツ */
.grid-content {
  // border: solid 1px green;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

/* グリッドコンテンツのイメージ部分 */
.grid-content-image {
  width: 250px;
  height: 345px;
  // border: solid 1px green;
  overflow: hidden;
  background-color: #fff;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  
  img {
    // border: solid 1px green;
    height: 70%;
    width: 100%;
    background-color: $my-color1;
    
  }
}

/* グリッドコンテンツのテキスト部分 */
.grid-content-text {
  
  // border: solid 1px blue;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h4 {
    // border: solid 1px red;
    font-weight: 500;
    color: #3d4852;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  p {
    // border: solid 1px yellow;
    display: inline-flex;
    align-items: center;
    span {
      
      // border: solid 1px pink;
      color: #8795a1;
      font-size: .875rem;
    }
  }
}

/*================================================
 *  スマートフォン向けスタイル
 ================================================*/

@media screen and (max-width:896px) {

  .grid-content {
    width: 100%;
  }
}

/*================================================
 *  makingページ向けスタイル
 ================================================*/

.box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    
  p {
    margin: 0; 
    padding: 0;
  }
}
.making-comment {
  // border: solid 1px green;
  width: 100%;
  margin: 10px auto;
    display: flex;
    
  }


.resipi {
    // border: solid 1px green;
    width:500px;
    font-size: 16px;
    color:#333333;
    padding:20px;  
    // display: flex;
   ul {
    // border: solid 1px green;
     padding-left: 0;
     margin-left: 40px;
     border-top: 1px solid #84b2e0;
     border-bottom: 1px solid #f1f6fc;
   
   li {
    // border: solid 1px green;
    // list-style-type : none;
    padding:5px 10px;
    border-bottom:1px solid #84b2e0;  
      
      }
    }
  }

  .baking {
    // border: solid 1px green;
    // background-color: $my-color1;
    width:100%;
    font-size: 20px;
    color:#333333;
    padding: 20px;  
    border: 10px solid #84b2e0;

    .hosoku {
      
      font-size: 15px;
      color:#333333;
      
      ul {
        padding: 10px;
        border-bottom: 2px solid #5d627b;;
        margin: 20px 10px 70px 10px;
        
      }
      
        li {
          list-style-type: none;
          
      }
    }
    
   ol {
    // border: solid 1px green;
     padding-left: 0;
     margin-left: 40px;
    //  border-top: 10px solid #84b2e0;
    //  border-bottom: 1px solid #f1f6fc;
   
   li {
    // border: solid 1px green;
    // list-style-type : none;
    padding:5px 10px;
    border-bottom:2px solid #84b2e0;  
      img {
        width: 200px;
        height: 150px;
        }
      }
    }
  }

  .homelink {
    font-size: calc(80% + 0.5vw);
    width: 93vw;
    height: 36px;
    transition: .5s ease-in-out;
    }
/*================================================
 *  slick用スタイル
 ================================================*/

.container2 {
  // border: solid 1px green;
  // margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  // height: 1%;
  color: #333;
  background: $my-color1;
  img {
    // height: 50%;
     width: 100%;
    background-color: $my-color1;
    padding: 200px 0;
    margin: 0px auto;
  
  }
}

.slick-slide {
  // border: solid 1px green;
  width: 100%;
  height: 40%;
  text-align: center;
  color: $my-color1;
  background: $my-color1;
  
  // img {
  //   height: 50%;
  // width: 100%;
  //   background-color: $my-color1;
  //   padding: 200px 0;
  //   margin: 20px auto;
  // border-radius:10px;
  // }
}


.single-item {
  // border: solid 1px green;
   height: 100%;
    width: 100%;
    background-color: $my-color1;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    

}

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
}

.prev-arrow {
  left: -20px;
}

.next-arrow {
  right: -20px;
}